*

!.icons/
!.icons/**

!.themes/
!.themes/glitchcandy/
!.themes/glitchcandy/*

!.config/
!.config/btop/
!.config/btop/*
!.config/fish/
!.config/fish/*
!.config/fontconfig/
!.config/fontconfig/*
!.config/fuzzel/
!.config/fuzzel/*
!.config/goverlay/
!.config/goverlay/*
!.config/hypr/
!.config/hypr/*
!.config/hypr/wallpapers/
!.config/hypr/wallpapers/*
!.config/kitty/
!.config/kitty/*
!.config/mako/
!.config/mako/*
!.config/nvim/
!.config/nvim/*
!.config/waybar/
!.config/waybar/*
!.config/starship.toml

!.gitconfig
!.gitmodules
!.gitignore
!.profile
!.bashrc
!.bash_profile

*.log
