* {
	background-image: none;
}
window {
	background-color: #15131A;
}
button {
    color: #FFFCED;
	background-color: #282430;
	border: 2px solid #9E48FF;
    border-radius: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
    margin: 3px;
    font-size: 50px;
}

button:focus, button:active, button:hover {
	background-color: #7F7399;
	outline-style: none;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
